# UV_LED_GRID_FOR_PHOTOLITHOGRAPGHY

In [1]:
from multiprocessing import Pool
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
ddf_1=pd.read_pickle("./ddf_1.pkl")
ddf_2=pd.read_pickle("./ddf_2.pkl")
ddf_3=pd.read_pickle("./ddf_3.pkl")

In [3]:
df_temp=pd.merge(ddf_1,ddf_2)

In [4]:
df=pd.merge(df_temp,ddf_3)

In [25]:
# del df["energy_max(mJ^cm^2)_3"]

In [26]:
df

,nleds,d(m),z(m),exposure_time(s)_1,percent_uniformity_1,exposure_time(s)_2,percent_uniformity_2,exposure_time(s)_3,percent_uniformity_3
0,9,0.01,0.010,1.609769,1.652103,1.316737,1.260447,2.066995,2.450514
1,9,0.01,0.011,1.713494,2.067137,1.402158,1.579463,2.198101,3.050847
2,9,0.01,0.012,1.815720,2.527452,1.492276,1.941891,2.312863,3.688060
3,9,0.01,0.013,1.919596,3.034999,1.588585,2.351023,2.418725,4.360924
4,9,0.01,0.014,2.026979,3.591311,1.691729,2.809479,2.521021,5.069618
...,...,...,...,...,...,...,...,...,...
378175,121,0.20,0.496,296.510814,99.973575,236.900544,99.948822,429.910720,99.975951
378176,121,0.20,0.497,296.679239,99.973504,237.071909,99.948803,430.096072,99.975929
378177,121,0.20,0.498,296.847999,99.973434,237.243565,99.948783,430.281699,99.975907
378178,121,0.20,0.499,297.017092,99.973363,237.415511,99.948762,430.467599,99.975885
378179,121,0.20,0.500,297.186520,99.973293,237.587747,99.948742,430.653773,99.975863

In [49]:
((df["percent_uniformity_2"])>(df["percent_uniformity_3"])).value_counts()

False    327704
True      50476
dtype: int64

In [51]:
((df["exposure_time(s)_1"])>(df["exposure_time(s)_3"])).value_counts()

False    378178
True          2
dtype: int64

In [52]:
df.to_pickle("./df.pkl")