# UV_LED_GRID_FOR_PHOTOLITHOGRAPGHY

### Libraries

In [9]:
from multiprocessing import Pool
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

### Functions

In [10]:
def arrangement_1(nleds,d):
    l=math.sqrt(nleds);
    ledcord=np.zeros((2,nleds));
    temp=0;
    for k in range(nleds):
        ledcord[0,k]=-(l-1)*d/2 +((k)%l)*d;
        if (k)%l ==0 and k != 0:
            temp=temp+1;
        ledcord[1,k]=-(l-1)*d/2 + temp*d;
    return ledcord

def arrangement_2(nleds,d):
    l=math.sqrt(nleds);
    ledcord=np.zeros((2,nleds));
    temp=0;
    for k in range(nleds):
        if (k)%2 ==0:
            ledcord[0,k]=-(l-1)*d/2 +((k)%l)*d;
        elif (k)%2 ==1:
            ledcord[0,k]=-(l-2)*d/2 +((k)%l)*d;
        
        if (k)%l ==0 and k != 0:
            temp=temp+1;
        
        ledcord[1,k]=-(l-1)*d/2 + temp*d;
    return ledcord

def E_r(ledcord,nleds,Ir_0,z,d,r):    
    x=r;
    y=0;
    E=0;
    for i in range(nleds):
        den=np.square(np.square(x-ledcord[0,i]) +np.square(y-ledcord[1,i]) +z**2);
        E= E + (z**2 * Ir_0)*(np.reciprocal(den))
    return E

# Arrangement 1

In [11]:
Ir_0 = 0.1
final_list = []

def ratio(d):
    final_list = []
    Ir_0=0.1
    for nleds in [9,25,49,81,121]:
        lled=np.sqrt(nleds)   
        ledcord = arrangement_1(nleds,d)
        nz = round((0.5 - d)/0.001) + 1
        for z in np.linspace(d,0.5,nz):
            min_E=1000000;
            max_E=0;
            ni = round((0.04)/0.001) + 1
            for i in np.linspace(0,0.04,ni):
                E_i = E_r(ledcord,nleds,Ir_0,z,d,i)
                min_E = min(min_E,E_i)
                max_E = max(max_E,E_i)
            percent_uniformity=(min_E/max_E)*100

            t = 4000/(max_E + min_E)
            energy_max = max_E * t
            energy_min = min_E * t

            final_list.append([nleds,d,z,min_E,max_E,t,energy_min/10,energy_max/10,percent_uniformity])
    return final_list

with Pool(7) as p:
    l = list(tqdm(p.imap(ratio,np.linspace(0.01,0.2,191)), total=191))

100%|██████████| 191/191 [45:43<00:00, 14.36s/it]

In [12]:
t=[]
for i in l:
    t.extend(i)
final_list=t

In [137]:
df_1 = pd.DataFrame(final_list,columns=["nleds","d(m)","z(m)","min_E(W/m^2)","max_E(W/m^2)","exposure_time(s)","energy_min(mJ/cm^2)","energy_max(mJ^cm^2)","percent_uniformity"])
# df_1.to_pickle("./df_1.pkl")
df_1

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
0,9,0.01,0.010,53.821305,2574.180729,1.522069,8.191973,391.808027,2.090813
1,9,0.01,0.011,62.555243,2364.777715,1.647899,10.308473,389.691527,2.645291
2,9,0.01,0.012,71.322752,2189.139671,1.769549,12.620914,387.379086,3.258027
3,9,0.01,0.013,80.003209,2037.132491,1.889345,15.115367,384.884633,3.927246
4,9,0.01,0.014,88.491466,1902.470236,2.009079,17.778638,382.221362,4.651398
...,...,...,...,...,...,...,...,...,...
378175,121,0.20,0.496,6.741497,6.743350,296.629236,199.972519,200.027481,99.972523
378176,121,0.20,0.497,6.737634,6.739511,296.798750,199.972148,200.027852,99.972152
378177,121,0.20,0.498,6.733769,6.735669,296.968581,199.971779,200.028221,99.971783
378178,121,0.20,0.499,6.729901,6.731825,297.138736,199.971414,200.028586,99.971418
378179,121,0.20,0.500,6.726030,6.727977,297.309213,199.971055,200.028945,99.971059

## No restrictions on LED grid size

### Maximum_percent_uniformity

In [57]:
idx = df_1.groupby(['nleds'])['percent_uniformity'].transform(max) == df_1['percent_uniformity']
df_1[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
376975,9,0.2,0.500,2.492124,2.507334,800.086610,199.391541,200.608459,99.393387
377116,25,0.2,0.340,5.751994,5.764446,347.329552,199.783750,200.216250,99.783984
377437,49,0.2,0.360,6.480728,6.486233,308.476272,199.915095,200.084905,99.915131
377758,81,0.2,0.380,6.866439,6.869194,291.213385,199.959881,200.040119,99.959889
378078,121,0.2,0.399,7.097583,7.099109,281.755781,199.978503,200.021497,99.978505

### Minimum_exposure_time

In [58]:
ef_1=df_1[df_1['percent_uniformity']>99]
idx = ef_1.groupby(['nleds'])['exposure_time(s)'].transform(min) == ef_1['exposure_time(s)']
ef_1[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
339128,9,0.176,0.249,6.034938,6.095878,329.738733,198.995277,201.004723,99.000299
185160,25,0.092,0.138,28.695536,28.985091,69.347373,198.996007,201.003993,99.001022
90694,49,0.048,0.061,122.840000,124.072012,16.200103,199.002065,200.997935,99.007019
56612,81,0.033,0.041,270.900817,273.583297,7.346404,199.014671,200.985329,99.019502
38214,121,0.025,0.035,474.073674,478.809737,4.197785,199.005951,200.994049,99.010867

## LED Grid Size Less Than 0.3m

In [59]:
df_1_3 = df_1[(np.sqrt(df_1["nleds"])-1) * df_1["d(m)"] <= 0.3]

### Maximum_percent_uniformity

In [60]:
idx = df_1_3.groupby(['nleds'])['percent_uniformity'].transform(max) == df_1_3['percent_uniformity']
df_1_3[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
293641,9,0.149,0.500,2.879550,2.903416,691.686591,199.174597,200.825403,99.177990
150026,25,0.075,0.500,8.399254,8.476842,237.021645,199.080491,200.919509,99.084699
93395,49,0.049,0.500,16.835624,16.998545,118.223682,199.036947,200.963053,99.041562
65933,81,0.037,0.048,214.731593,216.100719,9.284355,199.364427,200.635573,99.366441
50049,121,0.030,0.045,327.476602,329.699808,6.086646,199.323407,200.676593,99.325688

### Minimum_exposure_time

In [139]:
ef_1_3=df_1_3[df_1_3['percent_uniformity']>99]
idx = ef_1_3.groupby(['nleds'])['exposure_time(s)'].transform(min) == ef_1_3['exposure_time(s)']
ef_1_3[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
293556,9,0.149,0.415,3.832370,3.871068,519.248622,198.995302,201.004698,99.000324
149995,25,0.075,0.469,9.344227,9.438445,212.962242,198.996753,201.003247,99.001761
90694,49,0.048,0.061,122.840000,124.072012,16.200103,199.002065,200.997935,99.007019
56612,81,0.033,0.041,270.900817,273.583297,7.346404,199.014671,200.985329,99.019502
38214,121,0.025,0.035,474.073674,478.809737,4.197785,199.005951,200.994049,99.010867

### Constant z; Maximum_percent_uniformity

In [148]:
df_1_3_z= df_1_3[df_1_3["z(m)"]==0.469]
idx_z = df_1_3_z.groupby(['nleds'])['percent_uniformity'].transform(max) == df_1_3_z['percent_uniformity']
df_1_3_z[idx_z].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
234682,9,0.117,0.469,3.467495,3.504493,573.724519,198.938672,201.061328,98.944274
99671,25,0.052,0.469,10.225119,10.348971,194.419294,198.796039,201.203961,98.803243
93364,49,0.049,0.469,18.777842,18.977291,105.945859,198.943462,201.056538,98.949014
66354,81,0.037,0.469,31.269955,31.607209,63.616101,198.927262,201.072738,98.932985
50473,121,0.030,0.469,46.804861,47.311800,42.500445,198.922745,201.077255,98.928516

In [147]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_1_3.sort_values("nleds"))

        nleds   d(m)   z(m)  min_E(W/m^2)  max_E(W/m^2)  exposure_time(s)  \
46230       9  0.029  0.469      3.993179      4.050312        497.296505
183033      9  0.091  0.469      3.672143      3.716315        541.384955
180979      9  0.090  0.469      3.679382      3.723822        540.306641
178920      9  0.089  0.469      3.686566      3.731274        539.240510
176856      9  0.088  0.469      3.693696      3.738671        538.186554
174787      9  0.087  0.469      3.700771      3.746011        537.144766
172713      9  0.086  0.469      3.707789      3.753295        536.115138
170634      9  0.085  0.469      3.714751      3.760520        535.097661
168550      9  0.084  0.469      3.721655      3.767687        534.092328
166461      9  0.083  0.469      3.728501      3.774794        533.099131
185082      9  0.092  0.469      3.664852      3.708753        542.475461
99222       9  0.052  0.469      3.908023      3.961508        508.289476
94719       9  0.050  0.469      3.917183      3.971054        507.084152
92460       9  0.049  0.469      3.921643      3.975701        506.499354
90196       9  0.048  0.469      3.926022      3.980265        505.926459
87927       9  0.047  0.469      3.930319      3.984745        505.365462
85653       9  0.046  0.469      3.934535      3.989139        504.816356
83374       9  0.045  0.469      3.938667      3.993447        504.279137
232758      9  0.116  0.469      3.475871      3.513146        572.326528
81090       9  0.044  0.469      3.942717      3.997670        503.753800
78801       9  0.043  0.469      3.946683      4.001805        503.240341
96973       9  0.051  0.469      3.912643      3.966322        507.680857
76507       9  0.042  0.469      3.950565      4.005854        502.738753
187126      9  0.093  0.469      3.657508      3.701139        543.578167
191199      9  0.095  0.469      3.642667      3.685754        545.820209
230829      9  0.115  0.469      3.484213      3.521766        570.940938
228895      9  0.114  0.469      3.492519      3.530350        569.567739
226956      9  0.113  0.469      3.500790      3.538899        568.206924
225012      9  0.112  0.469      3.509024      3.547411        566.858484
223063      9  0.111  0.469      3.517220      3.555886        565.522411
221109      9  0.110  0.469      3.525379      3.564322        564.198696
219150      9  0.109  0.469      3.533498      3.572720        562.887330
217186      9  0.108  0.469      3.541578      3.581078        561.588306
215217      9  0.107  0.469      3.549617      3.589395        560.301614
189165      9  0.094  0.469      3.650113      3.693472        544.693080
213243      9  0.106  0.469      3.557615      3.597671        559.027247
209280      9  0.104  0.469      3.573485      3.614096        556.515452
207291      9  0.103  0.469      3.581356      3.622243        555.278007
205297      9  0.102  0.469      3.589182      3.630346        554.052853
203298      9  0.101  0.469      3.596963      3.638403        552.839981
201294      9  0.100  0.469      3.604699      3.646415        551.639383
199285      9  0.099  0.469      3.612388      3.654380        550.451051
197271      9  0.098  0.469      3.620030      3.662297        549.274975
195252      9  0.097  0.469      3.627625      3.670165        548.111149
193228      9  0.096  0.469      3.635170      3.677984        546.959563
211264      9  0.105  0.469      3.565572      3.605905        557.765196
74208       9  0.041  0.469      3.954363      4.009814        502.249034
234682      9  0.117  0.469      3.467495      3.504493        573.724519
69595       9  0.039  0.469      3.961702      4.017469        501.305179
48589       9  0.030  0.469      3.990429      4.047443        497.644142
67281       9  0.038  0.469      3.965244      4.021163        500.851035
50943       9  0.031  0.469      3.987591      4.044480        498.003598
71904       9  0.040  0.469      3.958075      4.013686        501.771177
64962       9  0.037  0.469      3.968698      4.024767        500.408741
53292       9  0.032  0.469      3.984663      4.041424        498.374877
55636       9  0.033  0.469      3.981646      4.038276        498.757982
62638       9  0.036  0.469      3.972066      4.028281        499.978293
57975       9  0.034  0.469      3.978541      4.035036        499.152917
60309       9  0.035  0.469      3.975347      4.031704        499.559686
97423      25  0.051  0.469     10.259211     10.384323        193.765280
99671      25  0.052  0.469     10.225119     10.348971        194.419294
63103      25  0.036  0.469     10.711631     10.854308        185.477662
60775      25  0.035  0.469     10.737389     10.881114        185.026685
74668      25  0.041  0.469     10.574076     10.711244        187.922947
65426      25  0.037  0.469     10.685276     10.826885        185.941333
56104      25  0.033  0.469     10.787075     10.932836        184.162816
53761      25  0.032  0.469     10.810984     10.957733        183.749925
51413      25  0.031  0.469     10.834258     10.981972        183.349730
49060      25  0.030  0.469     10.856889     11.005546        182.962233
46702      25  0.029  0.469     10.878868     11.028445        182.587433
58442      25  0.034  0.469     10.762540     10.907293        184.588403
95170      25  0.050  0.469     10.292861     10.419225        193.123952
81547      25  0.044  0.469     10.484890     10.618566        189.542416
67744      25  0.038  0.469     10.658333     10.798857        186.417698
70057      25  0.039  0.469     10.630812     10.770234        186.906756
86108      25  0.046  0.469     10.422833     10.554115        190.685510
79259      25  0.043  0.469     10.515149     10.650003        188.989903
83830      25  0.045  0.469     10.454115     10.586599        190.107618
88381      25  0.047  0.469     10.391056     10.521124        191.276089
92912      25  0.049  0.469     10.326059     10.453668        192.495311
90649      25  0.048  0.469     10.358795     10.487638        191.879356
72365      25  0.040  0.469     10.602723     10.741026        187.408506
76966      25  0.042  0.469     10.544881     10.680899        188.450080
49531      49  0.030  0.469     20.644620     20.910355         96.258030
77425      49  0.042  0.469     19.526688     19.751154        101.838588
51883      49  0.031  0.469     20.561453     20.823951         96.652434
79717      49  0.043  0.469     19.423289     19.644179        102.386977
47174      49  0.029  0.469     20.725710     20.994630         95.876494
70519      49  0.039  0.469     19.828528     20.063663        100.270253
54230      49  0.032  0.469     20.476270     20.735479         97.059700
75128      49  0.041  0.469     19.628734     19.856769        101.303001
82004      49  0.044  0.469     19.318598     19.535907        102.948163
93364      49  0.049  0.469     18.777842     18.977291        105.945859
56572      49  0.033  0.469     20.389129     20.645004         97.479824
84286      49  0.045  0.469     19.212675     19.426402        103.522140
65890      49  0.037  0.469     20.022182     20.264344         99.288778
91102      49  0.048  0.469     18.888105     19.091110        105.320768
88835      49  0.047  0.469     18.997370     19.203942        104.708447
72826      49  0.040  0.469     19.729368     19.960960        100.780221
86563      49  0.046  0.469     19.105579     19.315727        104.108903
63568      49  0.036  0.469     20.116555     20.362194         98.817282
61241      49  0.035  0.469     20.209211     20.458297         98.358620
68207      49  0.038  0.469     19.926153     20.164812         99.773104
58909      49  0.034  0.469     20.300089     20.552588         97.912799
61707      81  0.035  0.469     31.730907     32.083375         62.681893
57040      81  0.033  0.469     32.179127     32.546840         61.799000
50002      81  0.030  0.469     32.823862     33.214298         60.571040
64033      81  0.036  0.469     31.501918     31.846770         63.142587
59376      81  0.034  0.469     31.956714     32.316806         62.234027
54699      81  0.032  0.469     32.397933     32.773251         61.376820
47646      81  0.029  0.469     33.030553     33.428475         60.187459
66354      81  0.037  0.469     31.269955     31.607209         63.616101
52353      81  0.031  0.469     32.612917     32.995813         60.967496
48118     121  0.029  0.469     47.226937     47.747772         42.116476
50473     121  0.030  0.469     46.804861     47.311800         42.500445

        energy_min(mJ/cm^2)  energy_max(mJ^cm^2)  percent_uniformity
46230            198.579386           201.420614           98.589405
183033           198.804323           201.195677           98.811429
180979           198.799441           201.200559           98.806605
178920           198.794586           201.205414           98.801807
176856           198.789759           201.210241           98.797038
174787           198.784961           201.215039           98.792298
172713           198.780193           201.219807           98.787587
170634           198.775455           201.224545           98.782907
168550           198.770749           201.229251           98.778258
166461           198.766074           201.233926           98.773640
185082           198.809233           201.190767           98.816281
99222            198.640706           201.359294           98.649882
94719            198.634166           201.365834           98.643431
92460            198.630978           201.369022           98.640285
90196            198.627844           201.372156           98.637194
87927            198.624765           201.375235           98.634157
85653            198.621742           201.378258           98.631175
83374            198.618775           201.381225           98.628249
232758           198.933315           201.066685           98.938974
81090            198.615866           201.384134           98.625379
78801            198.613014           201.386986           98.622566
96973            198.637409           201.362591           98.646630
76507            198.610219           201.389781           98.619810
187126           198.814169           201.185831           98.821158
191199           198.824116           201.175884           98.830989
230829           198.927968           201.072032           98.933684
228895           198.922631           201.077369           98.928404
226956           198.917306           201.082694           98.923136
225012           198.911992           201.088008           98.917879
223063           198.906691           201.093309           98.912635
221109           198.901403           201.098597           98.907405
219150           198.896129           201.103871           98.902188
217186           198.890869           201.109131           98.896986
215217           198.885625           201.114375           98.891799
189165           198.819130           201.180870           98.826061
213243           198.880396           201.119604           98.886629
209280           198.869988           201.130012           98.876337
207291           198.864811           201.135189           98.871218
205297           198.859652           201.140348           98.866117
203298           198.854512           201.145488           98.861036
201294           198.849392           201.150608           98.855974
199285           198.844293           201.155707           98.850933
197271           198.839215           201.160785           98.845913
195252           198.834159           201.165841           98.840916
193228           198.829126           201.170874           98.835941
211264           198.875184           201.124816           98.881474
74208            198.607484           201.392516           98.617112
234682           198.938672           201.061328           98.944274
69595            198.602189           201.397811           98.611891
48589            198.581384           201.418616           98.591375
67281            198.599632           201.400368           98.609369
50943            198.583446           201.416554           98.593408
71904            198.604807           201.395193           98.614472
64962            198.597135           201.402865           98.606907
53292            198.585571           201.414429           98.595504
55636            198.587760           201.412240           98.597662
62638            198.594699           201.405301           98.604504
57975            198.590011           201.409989           98.599881
60309            198.592324           201.407676           98.602162
97423            198.787882           201.212118           98.795184
99671            198.796039           201.203961           98.803243
63103            198.676836           201.323164           98.685532
60775            198.670356           201.329644           98.679137
74668            198.711152           201.288848           98.719404
65426            198.683448           201.316552           98.692058
56104            198.657808           201.342192           98.666755
53761            198.651747           201.348253           98.660775
51413            198.645833           201.354167           98.654940
49060            198.640069           201.359931           98.649253
46702            198.634458           201.365542           98.643718
58442            198.664012           201.335988           98.672877
95170            198.779801           201.220199           98.787201
81547            198.733142           201.266858           98.741116
67744            198.690190           201.309810           98.698712
70057            198.697057           201.302943           98.705490
86108            198.748323           201.251677           98.756108
79259            198.725704           201.274296           98.733772
83830            198.740683           201.259317           98.748563
88381            198.756059           201.243941           98.763748
92912            198.771802           201.228198           98.779298
90649            198.763886           201.236114           98.771479
72365            198.704045           201.295955           98.712389
76966            198.718373           201.281627           98.726533
49531            198.721041           201.278959           98.729168
77425            198.857034           201.142966           98.863529
51883            198.731451           201.268549           98.739446
79717            198.869188           201.130812           98.875546
47174            198.710845           201.289155           98.719101
70519            198.821148           201.178852           98.828055
54230            198.742063           201.257937           98.749926
75128            198.844970           201.155030           98.851602
82004            198.881421           201.118579           98.887643
93364            198.943462           201.056538           98.949014
56572            198.752869           201.247131           98.760597
84286            198.893725           201.106275           98.899811
65890            198.797802           201.202198           98.804985
91102            198.930967           201.069033           98.936651
88835            198.918507           201.081493           98.924323
72826            198.833004           201.166996           98.839774
86563            198.906090           201.093910           98.912040
63568            198.786333           201.213667           98.793653
61241            198.775014           201.224986           98.782471
68207            198.809410           201.190590           98.816456
58909            198.763856           201.236144           98.771449
61707            198.895330           201.104670           98.901398
57040            198.863786           201.136214           98.870204
50002            198.817546           201.182454           98.824496
64033            198.911257           201.088743           98.917152
59376            198.879500           201.120500           98.885742
54699            198.848208           201.151792           98.854803
47646            198.802505           201.197495           98.809632
66354            198.927262           201.072738           98.932985
52353            198.832788           201.167212           98.839560
48118            198.903212           201.096788           98.909194
50473            198.922745           201.077255           98.928516

### Constant z ;Minimum_exposure_time

In [120]:
ef_1_3_z=df_1_3_z[df_1_3_z['percent_uniformity']>99]
idx = ef_1_3_z.groupby(['nleds'])['exposure_time(s)'].transform(min) == ef_1_3_z['exposure_time(s)']
ef_1_3_z[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
58957,81,0.034,0.05,248.293512,250.657078,8.016826,199.052585,200.947415,99.057052
45339,121,0.028,0.05,365.959635,369.313713,5.440154,199.087665,200.912335,99.091808

## Arrangement 2

In [18]:
Ir_0 = 0.1
final_list = []

def ratio(d):
    final_list = []
    Ir_0=0.1
    for nleds in [9,25,49,81,121]:
        lled=np.sqrt(nleds)   
        ledcord = arrangement_2(nleds,d)
        nz = round((0.5 - d)/0.001) + 1
        for z in np.linspace(d,0.5,nz):
            min_E=1000000;
            max_E=0;
            ni = round((0.04)/0.001) + 1
            for i in np.linspace(0,0.04,ni):
                E_i = E_r(ledcord,nleds,Ir_0,z,d,i)
                min_E = min(min_E,E_i)
                max_E = max(max_E,E_i)
            percent_uniformity=(min_E/max_E)*100

            t = 4000/(max_E + min_E)
            energy_max = max_E * t
            energy_min = min_E * t

            final_list.append([nleds,d,z,min_E,max_E,t,energy_min/10,energy_max/10,percent_uniformity])
    return final_list

with Pool(7) as p:
    l = list(tqdm(p.imap(ratio,np.linspace(0.01,0.2,191)), total=191))

100%|██████████| 191/191 [48:17<00:00, 15.17s/it]

In [19]:
t=[]
for i in l:
    t.extend(i)

final_list=t

In [55]:
df_2 = pd.DataFrame(final_list,columns=["nleds","d(m)","z(m)","min_E(W/m^2)","max_E(W/m^2)","exposure_time(s)","energy_min(mJ/cm^2)","energy_max(mJ^cm^2)","percent_uniformity"])
# df_2.to_pickle("./df_2.pkl")

## No restrictions on LED grid size

### Maximum_percent_uniformity

In [22]:
idx = df_2.groupby(['nleds'])['percent_uniformity'].transform(max) == df_2['percent_uniformity']
df_2[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
376781,9,0.2,0.306,4.367443,4.376950,457.436000,199.782551,200.217449,99.782787
377127,25,0.2,0.351,5.649510,5.653269,353.895270,199.933493,200.066507,99.933515
377466,49,0.2,0.389,6.294962,6.296694,317.670684,199.972476,200.027524,99.972480
377799,81,0.2,0.421,6.675072,6.675946,299.602627,199.986911,200.013089,99.986912
378127,121,0.2,0.448,6.923597,6.924103,288.856633,199.992698,200.007302,99.992698

### Minimum_exposure_time

In [24]:
ef_2=df_2[df_2['percent_uniformity']>99]
idx = ef_2.groupby(['nleds'])['exposure_time(s)'].transform(min) == ef_2['exposure_time(s)']
ef_2[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
170335,9,0.085,0.170,18.093229,18.275059,109.985929,199.000064,200.999936,99.005038
125919,25,0.064,0.131,49.567108,50.066793,40.146977,198.996958,201.003042,99.001963
88464,49,0.047,0.098,109.597122,110.697777,18.157479,199.000744,200.999256,99.005712
58972,81,0.034,0.065,235.090953,237.456275,8.464762,198.998905,201.001095,99.003891
31062,121,0.022,0.038,597.299258,603.127025,3.332150,199.029050,200.970950,99.033741

## LED Grid Size Less Than 0.3m

In [121]:
df_2_3 = df_2[(np.sqrt(df_2["nleds"])-1) * df_2["d(m)"] <= 0.3]

### Maximum_percent_uniformity

In [122]:
idx = df_2_3.groupby(['nleds'])['percent_uniformity'].transform(max) == df_2_3['percent_uniformity']
df_2_3[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
172744,9,0.086,0.500,3.315970,3.325092,602.313279,199.725283,200.274717,99.725660
150026,25,0.075,0.500,8.437498,8.459712,236.725476,199.737065,200.262935,99.737410
93395,49,0.049,0.500,16.904296,16.983178,118.037713,199.534449,200.465551,99.535530
66385,81,0.037,0.500,28.111305,28.274256,70.940148,199.422010,200.577990,99.423676
50061,121,0.030,0.057,316.730428,318.749218,6.294458,199.364641,200.635359,99.366653

### Minimum_exposure_time

In [123]:
ef_2_3=df_2_3[df_2_3['percent_uniformity']>99]
idx = ef_2_3.groupby(['nleds'])['exposure_time(s)'].transform(min) == ef_2_3['exposure_time(s)']
ef_2_3[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
170335,9,0.085,0.170,18.093229,18.275059,109.985929,199.000064,200.999936,99.005038
125919,25,0.064,0.131,49.567108,50.066793,40.146977,198.996958,201.003042,99.001963
88464,49,0.047,0.098,109.597122,110.697777,18.157479,199.000744,200.999256,99.005712
58972,81,0.034,0.065,235.090953,237.456275,8.464762,198.998905,201.001095,99.003891
31062,121,0.022,0.038,597.299258,603.127025,3.332150,199.029050,200.970950,99.033741

### Constant z; Maximum_percent_uniformity

In [131]:
df_2_3_z= df_2_3[df_2_3["z(m)"]==0.05]
idx = df_2_3_z.groupby(['nleds'])['percent_uniformity'].transform(max) == df_2_3_z['percent_uniformity']
df_2_3_z[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
66862,9,0.038,0.05,117.054702,139.531891,15.589279,182.479841,217.520159,83.891002
58023,25,0.034,0.05,203.636092,215.391189,9.545918,194.389341,205.610659,94.542443
51464,49,0.031,0.05,274.066353,280.797613,7.208974,197.573726,202.426274,97.602807
47227,81,0.029,0.05,331.090141,335.075392,6.004514,198.803525,201.196475,98.810640
42974,121,0.027,0.05,392.755095,395.427805,5.074964,199.321804,200.678196,99.324096

## Constant z ;Minimum_exposure_time

In [128]:
ef_2_3_z=df_2_3_z[df_2_3_z['percent_uniformity']>99]
idx = ef_2_3_z.groupby(['nleds'])['exposure_time(s)'].transform(min) == ef_2_3_z['exposure_time(s)']
ef_2_3_z[idx].sort_values("nleds")

,nleds,d(m),z(m),min_E(W/m^2),max_E(W/m^2),exposure_time(s),energy_min(mJ/cm^2),energy_max(mJ^cm^2),percent_uniformity
38229,121,0.025,0.05,450.342593,454.374505,4.421272,199.108691,200.891309,99.112646